<%= form_with(model: @picture_post, local: true ,url: choose_new_or_edit ) do |form| %>
  <% if @picture_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= @picture_post.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @picture_post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="post_content">
    <%= form.text_field :content %>
    <%= image_tag(@picture_post.image.url, width: '100') if @picture_post.image && @picture_post.image.url %>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>

  </div>
  <%= form.submit %>
<% end %>

<%= link_to "一覧画面にもどる", picture_posts_path %>