<h1>投稿一覧</h1>
<table>
  <tr>
    <th>内容</th>
    <th>画像</th>
    <th>ユーザー名</th>
  </tr>

<% @picture_posts.each do |post| %>
  <tr>
    <td><%= post.content %></td>
    <td><% if post.image && post.image.url %>
        <%= link_to(image_tag post.image.url, width: '100') %></td>
        <% end %>
    <td><%= post.user.name %></td>

    <td><%= link_to '詳細を確認する', picture_post_path(post.id), class: "btn btn-primary" %></td>
    <% if post.user_id == current_user.id %>
      <td><%= link_to "編集する", edit_picture_post_path(post.id), class: "btn btn-success " %></td>
      <td><%= link_to '削除する', picture_post_path(post.id), class: "btn btn-warning", method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<%= link_to '新規投稿する', new_picture_post_path %>
<%= link_to 'お気に入り一覧を見る', favorites_path %>
